html {
  font-size: 18px;
  box-sizing: border-box;
}

/*Standard box-sizing reset - save size when using padding, border etc */
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  font-family: sans-serif; 
}

.container {
  background-color: white;
  width: 90%; 
  max-width: 60rem; 
  min-height: 80vh; 
  display: flex;
  align-items: stretch; 
  border-radius: 20px;
  overflow: hidden; /* Keeps child background colors inside the curves */
}


.container-image-side {
  background-color: red;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 2rem;
}

.btn {
  cursor: pointer;
  padding: 0.8rem 1.5rem; 
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
  border: 1px solid black;
  color: white;
  transition: transform 0.2s, background-color 0.2s; /* Smooth animation */
  font-size: 15px;
}

.btn:hover {
  background-color: rgb(255, 102, 31);
  transform: scale(1.05); /* Grows without shifting other elements */
}
.inputstyle{
    border-radius: 15px;
    border: 1px solid black;
    height: 2rem;
    width: 15rem;
    padding-left: 10px;
}

@media (max-width: 600px) {
  .container-image-side{
    display: none;
  }
  body{
    background-color: red;
  }
  form{
    width: 100%;
  }
}